# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Output files
output/

# OS-specific files
.DS_Store
Thumbs.db
